# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

pool:
  vmImage: 'vs2017-win2016'

steps:

- powershell: Install-Module Selenium -Scope CurrentUser -Force
  displayName: Install Selenium
  errorActionPreference: continue

- powershell: Install-Module InvokeBuild -Scope CurrentUser -Force
  displayName: Install InvokeBuild
  errorActionPreference: continue

- powershell: Invoke-Build -File .\src\build.ps1
  displayName: Build
  errorActionPreference: continue