{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [">1.0%", "not dead"]
        }
      }
    ],
    "babel-preset-react-app"
  ],
  "plugins": [
    ["minify-dead-code-elimination", { "optimizeRawSize": true }],
    ["import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es" // default: lib
      }
    ],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
