body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app>div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.paginate_button  {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.sorting {
    cursor: pointer;
}

.sorting_asc {
    cursor: pointer;
}

input[type=text]:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #464646 !important;
}

input[type=password]:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #464646 !important;
}

td {
    padding: 5px 5px !important;
}