body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app>div {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.paginate_button  {
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.sorting {
    cursor: pointer;
}

.sorting_asc {
    cursor: pointer;
}

input[type=text]:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #464646 !important;
}

input[type=password]:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #464646 !important;
}

td {
    padding: 5px 5px !important;
}

.terminal-base {
    min-height: 0px !important;
}

.jLRkOo {
    margin-top: 20px !important;
    margin-left: 10px !important;
}

.v-wrap{
    height: 100% !important;
    white-space: nowrap !important;
    text-align: center !important;
    display: block !important;
    min-height: auto !important;
    flex-direction: row !important;
}
.v-wrap:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0;
    /* adjust for white space between pseudo element and next sibling */
    margin-right: -.25em;
    /* stretch line height */
    height: 100vh; 
}
.v-box{
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}